.Home {
  display: flex;
  display: flex;
  flex-grow: 1;
}

.MainHome {
  display: flex;
}
.MainHome {
  height: 100vh;
}
.Ri {
  width: 50px;
}
.another {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
