.ProfileContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 160px;
  height: 100%;
}
.ProContainer {
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 640px) {
  .ProContainer {
    padding: 0px;
  }
}
.MapProfileContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 20px;
  padding-right: 20px;
}
@media (max-width: 640px) {
  .MapProfileContainer {
    padding-right: 0px;
  }
}
.Content {
  justify-content: center;
}
.MapContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ProfileContainer img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.Name {
  display: flex;
  justify-content: space-evenly;
}
.NameIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: none;
  background-color: white;
  &:hover {
    background-color: #44f5bd;
  }
}
@media (max-width: 640px) {
  .NameIcon {
    gap: 0px;
  }
}

.Name svg {
  color: blue;
  cursor: pointer;
}

.Logout {
  display: flex;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #ddf1ec;
  color: blue;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
