.ProfileContainer {
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 150px;
}
.Content {
  justify-content: center;
}

.ProfileContainer img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.Name {
  display: flex;
  justify-content: space-evenly;
}

.Name svg {
  color: blue;
  cursor: pointer;
}
